* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  margin-right: 10px;
}

.navlinks {
  display: flex;
}

.navlinks li {
  list-style: none;
  margin-left: 20px;
}

.navlinks li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  padding: 10px;
}

.navlinks li a:hover {
  background-color: #fff;
  color: #333;
}

.burger {
  width: 40px;
  height: 30px;
  position: relative;
  cursor: pointer;
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .navlinks {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  .navlinks.show{
    height: calc(100vh - 80px);
  }
  .navlinks li {
    margin: 10px 0;
  }
  .navlinks a{
    color: #333;
    font-size: 20px;

  }
  .burger {
    display: block;
  
  }
  .burger .line1 {
    transform: rotate(45deg);
    top: 13px;
  }
  .burger .line2 {
    opacity: 0;
  }
  .burger .line3 {
    transform: rotate(-45deg);
    top: 13px;
  }
}

.active {
  display: flex;
  flex-direction: column;
}
.burger .line1, .burger .line2, .burger .line3 {
  width: 100%;
  height: 4px;
  background-color: #333;
  position: absolute;
  left: 0;
  transition: all 0.3s ease;
}
.burger .line1 {
  top: 0;
}

.burger .line2 {
  top: 13px;
}

.burger .line3 {
  top: 26px;
}