* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

.nav-links {
    display: flex;
}

.nav-links li {
    list-style: none;
    margin-left: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    padding: 10px;
}

.nav-links li a:hover {
    background-color: #fff;
    color: #333;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #fff;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }
    .burger {
        display: block;
    }
}

.active {
    display: flex;
    flex-direction: column;
}
