* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .logo {
    font-size: 1.5em;
    margin-left: 1em;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
  }
  
  .nav-links li {
    list-style: none;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
  }
  
  .burger {
    display: none;
    cursor: pointer;
  }
  
  .burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
  }
  
  @media screen and (max-width: 768px) {
    .nav-links {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 80px;
      left: -100%;
      transition: all 0.5s ease;
    }
    
    .nav-links li {
      margin-right: 2em;
    }
    
    .burger {
      display: block;
      position: absolute;
      top: 0.75em;
      right: 1em;
    }
  }
  
  .nav-active {
    left: 0;
  }
  
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .toggle .line2 {
    opacity: 0;
  }
  
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  